.mdl-data-table {
    table-layout:fixed;
    width:100%;
    white-space: normal;
}

th:first-of-type, td:first-of-type {
    width: 60px;
}

th.cell-status, td.cell-status {
    font-size: 80%;
}

td.urls ul {
    padding-left: 0;
}

#since {
    padding: 0 2px 0 2px;
}
